*{
    margin: 0;
    padding: 0;
}
html,
body {
    height: 100%;
}

body {
    /* previous background 
    background-color: #EED6D3;
    background-image: -webkit-linear-gradient(65deg, #E8B4B8 50%, #EED6D3 50%);
    */
    font-family: 'Kanit', sans-serif;
    font-weight: 400; 

    background-color: #e8b4b8;
    background-image: url("https://www.transparenttextures.com/patterns/wood-pattern.png");
}

footer {
    position: relative;
    background-color: #5f5357;
    text-align: center;
    color: white;
    height: 30px;
    margin-top: -30px;
    clear: both;
    width: 100%;
}

footer p {
    margin: 0px;
}

h1 {
    padding: 20px 0px;
}
h2 {
    font-size: 1.2em;
}

p.error {
    color: rgb(194, 70, 70);
}

p.success {
    color: rgb(82, 191, 82);
}

.wrap {
    min-height: 100%;
}

.main {
    overflow: auto;
    padding-bottom: 30px
}

.light-section{
    background-color: white;
    color: black;
    width: 95%;
    padding: 20px 20px 20px 50px;
    overflow: hidden;
}

.dark-section {
    background-color: black;
    color: white;
    width: 100%;
}

.currentPage {
    border-radius: 5px;
    background-color: white; 
    width: 80%;
    min-height: 90vh;
    margin: 30px auto;
    padding: 20px 20px 20px 100px;
    overflow: hidden;
}

.current-page-discover {
    border-radius: 5px;
    background-color: white; 
    width: 80%;
    min-height: 90vh;
    margin: 30px auto;
    overflow: hidden;
}

.current-page-profile {
    border-radius: 5px;
    background-color: white; 
    width: 60%;
    min-height: 90vh;
    margin: 30px auto;
    overflow: hidden;
}

.currentPageContentSized {
    border-radius: 5px;
    background-color: white; 
    width: 80%;
    margin: 30px auto;
    padding: 20px 20px 20px 100px;
    overflow: hidden;
}

.accountForm
{
    border-radius: 5px;
    background-color: white; 
    width: 50%;
    text-align: center;
    margin: 50px auto;
    padding: 20px 20px 20px 20px;
    overflow: hidden;
}

.lhs-navbar{
    display: flex;
    flex-direction: row-reverse;
    align-content: center;
    justify-content: flex-start;
    align-items: center;}

.profile-img {
    border-radius: 50%;
    height: 4vh;
    display: inline;
    float: right;
    padding-left: 5px;
}

.profile-page-img {
    border-radius: 50%;
    height: 25vh;
    float: left;
    max-width: 25vw;
    padding: 10px;
}

.profile-page-img-edit {
    border-radius: 50%;
    height: 25vh;
    float: left;
    margin-right: 50px;
    max-width: 25vw;
    padding: 10px;
}

.profile-page-img-edit:hover {
    border-radius: 50%;
    height: 25vh;
    float: left;
    background-color: #ddd;
    max-width: 25vw;
}

.edit-profile-btn{
    position:absolute;
    right: 15px;
}

.profile-text {
    display: inline;
}

.profile-header { 
    padding: 30px;
    position:relative;
    font-size: 2rem;
    line-height: 200%;
    text-align: left;
    overflow: auto;
}

.profile-admin {
    color: red;
}
.profile-moderator{
    color:blueviolet; 
}

.fake-image{
    width: 100px;
    height: 100px;
    background-color: blue;
    margin-right: 10px;
    display: inline-block;
}

.forums-supergroup{
    border: none;
    border-left: 5px solid;
    height: 85%;
    padding: 20px;
    margin: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.forums-group {
    display: inline-flex;
    align-items: center;
    background-color: gainsboro;
    padding: 10px;
    margin: 15px;
}

.profile-header h1 {
    font-size: 2rem;
    display: block;
    padding: 5px 0px;
}
.profile-header h2{
    font-size: 1.5rem;
    font-weight: 400;
    display:block;
    
}
.profile-header p {
    font-size: 1rem;
    display: block;

}

.profile-hr {
    border: none;
    border-bottom: 7px dotted;
    width: 70%;
    margin: 0 auto;
    margin-bottom: 20px;
}

.profile-settings {
    padding: 10px;
    background-color: gainsboro;
    width: 45%;
    margin-top:30px;
}

.profile-info-container {
    display:inline-block;
    vertical-align: top;
}

.profile-picture-container{
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    margin-right: 50px;
}

.text-settings{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.settings-container{
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;
    align-content: center;
    flex-wrap: wrap;
    overflow:hidden;
    padding: 30px;
}

.topnav .profile-tab {

}

.topnav {
    background-color: #67595E;
    display: flex;
    padding: 0px 10%;
    height: 6vh;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.forums-header {

}

.gallery-header{

}

.gallery-body {
    display: flex;
    padding: 10px;
    overflow: hidden;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.gallery-item-container{
    margin: 15px;
    max-width: 250px;
    padding: 10px;
}

.gallery-image {
    width: 250px;
    height: 250px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-right: 10px;
}

.group-image {
    width: 100px;
    height: 100px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-right: 10px;
}
.group-text {
    text-decoration: none;
}

.article-text {
    text-decoration: none;
}
.forum-link-container{
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.admin-content-form {
    background-color: gainsboro;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px;
    margin: 10px;
}

.text-settings input {
    margin: 10px;
}

.admin-gallery-form input{
    margin: 5px;
}

.topnav h2 {
    float: left;
    color: white;
    text-align: center;
    padding: 6px 16px;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 800; 
    margin: auto 0;
}

.topnav a {
    float: right;
    display: flex;
    color: #f2f2f2;
    text-align: center;
    padding: 17px 17px;
    margin: 0px 5px;
    text-decoration: none;
    font-size: 1rem;
    height: 3vh;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    flex-direction: row;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color: #A49393;
    color: white;
}

.authentication input {
    margin: 15px auto;
    display: block;
}

button a{
    text-decoration: none;
}