*{
    margin: 0;
    padding: 0;
}
html,
body {
    height: 100%;
}

body {
    /* previous background 
    background-color: #EED6D3;
    background-image: -webkit-linear-gradient(65deg, #E8B4B8 50%, #EED6D3 50%);
    */
    font-family: 'Kanit', sans-serif;
    font-weight: 400; 

    background-color: #e8b4b8;
    background-image: url("https://www.transparenttextures.com/patterns/wood-pattern.png");
}

footer {
    position: relative;
    background-color: #5f5357;
    text-align: center;
    color: white;
    height: 30px;
    margin-top: -30px;
    clear: both;
    width: 100%;
}

footer p {
    margin: 0px;
}

h1 {
    padding: 20px 0px;
}
h2 {
    font-size: 1.2em;
}

p.error {
    color: rgb(194, 70, 70);
}

p.success {
    color: rgb(82, 191, 82);
}

.wrap {
    min-height: 100%;
}

.main {
    overflow: auto;
    padding-bottom: 30px
}

.light-section{
    background-color: white;
    color: black;
    width: 95%;
    padding: 20px 20px 20px 50px;
    overflow: hidden;
}

.dark-section {
    background-color: black;
    color: white;
    width: 100%;
}

.currentPage {
    border-radius: 5px;
    background-color: white; 
    width: 80%;
    min-height: 90vh;
    margin: 30px auto;
    padding: 20px 20px 20px 100px;
    overflow: hidden;
}

.current-page-discover {
    border-radius: 5px;
    background-color: white; 
    width: 80%;
    min-height: 90vh;
    margin: 30px auto;
    overflow: hidden;
}

.current-page-profile {
    border-radius: 5px;
    background-color: white; 
    width: 60%;
    min-height: 90vh;
    margin: 30px auto;
    overflow: hidden;
}

.currentPageContentSized {
    border-radius: 5px;
    background-color: white; 
    width: 80%;
    margin: 30px auto;
    padding: 20px 20px 20px 100px;
    overflow: hidden;
}

.accountForm
{
    border-radius: 5px;
    background-color: white; 
    width: 50%;
    text-align: center;
    margin: 50px auto;
    padding: 20px 20px 20px 20px;
    overflow: hidden;
}

.profile-img {
    border-radius: 50%;
    height: 4vh;
    display: inline;
    float: right;
}

.profile-page-img {
    border-radius: 50%;
    height: 25vh;
    float: left;
    margin-right: 50px;
}

.profile-page-img:hover {
    border-radius: 50%;
    height: 25vh;
    float: left;
    background-color: #ddd;
    margin-right: 50px;
}

.profile-text {
    display: inline;
}

.profile-header { 
    padding: 30px;
    
    font-size: 2rem;
    line-height: 200%;
    text-align: left;
}
.profile-header h1 {
    font-size: 2rem;
    display: block;
}
.profile-header p {
    font-size: 1rem;
    display: block;

}

.profile-hr {
    border: none;
    border-bottom: 7px dotted;
    width: 70%;
    margin: 0 auto;
}

.profile-image-settings {
    padding: 30px;
    margin: 20px;
}

.topnav .profile-tab {
    display: flex;
}

.topnav {
    background-color: #67595E;
    padding: 0px 10%;
    height: 6vh;
}

.topnav h2 {
    float: left;
    color: white;
    text-align: center;
    padding: 6px 16px;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 800; 
    margin: auto 0;
}

.topnav a {
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 17px 17px;
    margin: 0px 5px;
    text-decoration: none;
    font-size: 1rem;
    height: 3vh;
    align-items: center;
    justify-content: center
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color: #A49393;
    color: white;
}

.authentication input {
    margin: 15px auto;
    display: block;
}
